.navbar {
  background-color: #333;
  text-align: center; 
}

.navbar a,
.navbar .navbar-brand {
  color: #dbdbdb; 
  text-decoration: none;
}

.navbar a:hover {
  color: #dbdbdb;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #333;
  text-align: center;
  color: #dbdbdb;
}

.footer p {
  padding-top: 10px;
}
